html{
	background-color: #FAFAFA;
}



body{
	font-family: 'Open Sans', sans-serif;
	width: 80%;
	margin: 40px auto;
	background-color: white;
	border: 1px solid #EEE;
	padding: 30px;
}

.CodeMirror{
  height: inherit !important;
  line-height: 1.5em !important;
}

.CodeMirror pre{
  background-color: white !important;
}

.lower_caption{
font-style: italic;
color: #00A001;  
}

h4{
  color: #0088CC;
  font-size: 0.9em;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	body{
		width: 100%;
		padding: 0px 20px;
		margin: 0px;
		box-sizing: border-box;
	}

	p{
		font-size: 1.4em;
	}
}